*.html
*.pdf
*.xlsx
*.xls
*.png
*.sublime-workspace
*.jpg
*.jpeg
*.log
*.tex.backup
*.bbl
*.blg
*.toc
*.aux
*.brf
*.*.gz
*.*~
*~
*.out
*.aux
*.o
*.so
*.dll
* .Rhistory
srcs/*

probation_shell_scripts

to_do_in_this_repository.md


# this might be something good to read
# https://stackoverflow.com/questions/30227858/gitignore-exclude-specific-file